*{
    margin: 0;
    padding: 0;
}
body{
    background-image: none;
}
/* top bar start */
.top-bar{
    width: 100%;
    height: 50px;
    background-color: blueviolet;
    position: absolute;
}
.back-arrow{
    height: 50px;
    width: 10%;
    position: absolute;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.back-arrow:hover{
    width: 11%;
    left: -2%;
}
.class-title{
    position: absolute;
    padding-top: 1%;
    margin-left: 4%;
    font-family: monospace;
    font-size: 20px;
    color: white;
}
.logout-btn{
    padding: 1%;
    float: right;
}
.logout-btn button{
    height: 30px;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid rgb(160, 158, 158);
    margin-right: 5px;
}
.logout-btn button:hover{
    background-color: rgb(55, 130, 243);
    color:white;    
}
.invite-btn{
    width: 80px;
}
.login-info{
    float: right;
    margin-right: 3%;
    margin-top: 5px;
}
.login-info img{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.login-info img:hover{
    height: 42px;
}
/* top bar ends */
/* side bar start */
/* .side-bar{
    height: 100vh;
    width: 6%;
    background-color: blueviolet;
    position: absolute;
} */
/* side bar ends */
/* create class form start */
.create-class-form{
    width: 15%;
    float: right;
    margin-top: 10px;
}
.create-class-form input{
    width:100%;
    height: 30px;
    border:1px solid rgb(96, 96, 100);
    border-radius: 3px;
    
}
.create-class-form input:focus{
    border: 1px solid rgb(40, 175, 228);
    box-shadow:0 0 10px #86b9e2;
    outline: none;  
}
/* create class form ends */
/* class container start */

.classes-div{
    display: grid;
    width: 546px;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    align-items: start;
    justify-content: space-between;
    grid-gap: 10px 2em;
    position: absolute;
    margin-left: 8%;
    margin-top: 50px;
}
/* class container ends */
/* individual class start */
.single-class{
    margin-top: 20%;
    height: 20vh;
    width: 200px;
    height: 150px;
    margin-right: 1%;
    background-color: gray;
    cursor: pointer;
}
.single-class h3{
    margin-top: 25%;
}
.single-class:hover{
    background-color: burlywood;
}
/* individual class ends */
/* invitation link create start */
.referallink-div{
    width: 80%;
    height:40px;
    left: 1%;
    position: absolute;
    margin-top: 100%;
}
.referallink-div:hover{
    left:2%;
    width: 100%;
}
/* invitation link create end */
/* vertical menu start */
.vertical-menu {
    width: 80px;
    position: absolute;
    margin-left: 92%;
    margin-top: 50px;
}
.vertical-menu div{
    width: 100%;
    padding-top: 5px;
    background-color: blueviolet;
}
.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    cursor: pointer;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}
.invite-message{
    background-color: rgb(83, 81, 81);
    width: 20%;
    height: 30px;
    padding-top: 1%;
    border-radius: 5px;
    position: absolute;
    margin-top: 45px;
    margin-left: 80%;
}
/* vertical menu end */



@media screen and (max-width: 1025px){
    .create-class-form{
        width: 20%;
    }
    .vertical-menu {
        margin-left: 85%;
    }
    .classes-div{
        grid-template-columns: 1fr 1fr 1fr;
        width: 75%;
        margin-top: 70px;
        margin-left: 1%;
    }
    .single-class{
        width: 300px;
    }  
}

@media screen and (max-width: 985px){
    .single-class{
        width: 200px;
    }
}

@media screen and (max-width: 770px){
    .create-class-form{
        width: 25%;
        position: absolute;
        margin-left: 25%;
    }
    .vertical-menu {
        margin-left: 83%;
    }
    .classes-div{
        grid-template-columns: 1fr 1fr;
        width: 99%;
    }
   .single-class{
        margin-top: 6%;
        margin-left: 20%;
        width: 250px;
    }
    .assignment-block{
        margin-top: 90%;
    }
    .top-bar{
        position: fixed;
        z-index: 1;
    }
}

@media screen and (max-width: 515px){
    .create-class-form{
        width: 50%;
        margin-top: 50px;
    }
    .vertical-menu {
        margin-left: 75%;
    }
   
}

@media screen and (max-width: 455px){
    .create-class-form{
        width: 30%;
    }
    .vertical-menu {
        margin-left: 85%;
    }
    .classes-div{
        grid-template-columns: 1fr;
        width: 99%;
    }

}

@media screen and (max-width: 361px){
    .vertical-menu {
        margin-left: 75%;
    }
}